<div
    *ngIf="image"
    class="image-modal-backdrop"
    role="dialog"
    aria-modal="true"
    [attr.aria-label]="image.alt"
    (click)="close()"
>
    <div class="image-modal-frame" (click)="$event.stopPropagation()">
        <button class="image-modal-close" type="button" aria-label="Close image" (click)="close()">
            &times;
        </button>

        <img class="image-modal-img" [src]="image.midSizedUrl" [alt]="image.alt" />

        <p *ngIf="image.title" class="image-modal-title">{{ image.title }}</p>

        <div *ngIf="image.resolution" class="image-modal-stats">
            {{ image.resolution }} <span *ngIf="image.resolution">&nbsp;&bull;&nbsp; {{ image.size }}</span>
        </div>
    </div>

    
</div>
