<section class="gallery-page" aria-labelledby="gallery-title">
    
    <div class="gallery-header-row">
        <div class="gallery-nav-left">
            <a *ngIf="activeCountry" routerLink="/gallery" class="back-button">&lt; All</a>
        </div>
        
        <div class="gallery-kicker-container" *ngIf="activeCountry">
            <span class="gallery-kicker active-label">{{ activeCountry }}</span>
        </div>

        <div class="gallery-kicker-container" *ngIf="!activeCountry">
            <ng-container *ngFor="let country of countries; let isLast = last">
                <button class="country-link" (click)="selectCountry(country)">
                    {{ country }}
                </button>
                <span class="country-separator" *ngIf="!isLast"> | </span>
            </ng-container>
        </div>
        
        <div class="gallery-nav-right">
            </div>
    </div>

    <div class="gallery-heading">
        <p class="gallery-intro"></p>
    </div>

    <div *ngIf="filteredImages.length; else emptyGallery" class="grid-wrapper">
        <button
            *ngFor="let image of filteredImages"
            class="grid-item"
            [ngClass]="image.orientation"
            type="button"
            (click)="openImage(image)"
        >
            <img [src]="image.thumbnailUrl" [alt]="image.alt" loading="lazy" />
        </button>
    </div>

    <ng-template #emptyGallery>
        <div class="gallery-empty">
            <p>No photographs found for this location.</p>
        </div>
    </ng-template>

    <div class="portfolio-heading">
        <p class="portfolio-kicker"></p>
        <h2 id="portfolio-title" class="portfolio-title"></h2>
        <p class="portfolio-intro"></p>
    </div>
</section>

<app-image-modal [image]="selectedImage" (closeModal)="closeImage()"></app-image-modal>