.page-content {
    padding-top: 95px;
}

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    cursor: pointer;
    z-index: 1000;

    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

    background-color: rgba(26,26,26,0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.155);
    border-radius: 2px;
}

.scroll-to-top::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    
    background-image: url('../assets/noise.svg');
    background-size: 50px 50px;
    opacity: 0.5; 
    
    border-radius: 2px;
    pointer-events: none;
}

.scroll-to-top.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.scroll-to-top:hover {
    background-color: rgba(26,26,26,0.55);
    transform: translateY(-4px);
}

.scroll-to-top svg {
    width: 22px;
    height: 22px;
    transition: transform 0.3s ease;
}

.scroll-to-top:hover svg {
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .scroll-to-top {
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 991px) {
    .page-content {
        padding-top: 130px;
    }
}

@media (max-width: 767px) {
    .page-content{
        padding-top: 4.1rem;
    }
}